*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header_container{

    display: flex;
    justify-content: center;
    
}
h2{
    text-align: center;
    margin: 20px;
}
header {
    width: 30%;
    text-align: center;

}
.make_grid{
    width: 60%;
    margin-top: 40px;

    display: grid;
    gap: 2rem;
    grid-template-rows: repeat(2,2fr);
    grid-template-columns: repeat(4,2fr);
    
}
.main_box{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card_box1{
    width:auto;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.main_box a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    align-self: flex-start;
}
.main_box .pic1{


    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.card_foot{
    display: flex;
    font-size: small;

}
.card_foot img{
    width: 2rem;
}
.para1{

    display: flex;
    flex-direction: column;
}
.para2{
    border: 1px solid black;
    border-radius: 5px;
    align-self: center;
}

.main_box .pic1{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card_box2{
    width: auto;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card_box3{
    width: auto;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card_box4{
    width: auto;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card_box5{
    width: auto;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card_box6{
    width: auto;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card_box7{
    width: auto;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card_box8{
    width: auto;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    grid-column-start: 4;
    grid-column-end: 5;
}